@model IEnumerable<PrimeiroMVC.Models.Aluno>
@{
    ViewData["title"] = "Listar Alunos";
}

<h1>Listar Alunos</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>matrícula</th>
        </tr>
    </thead>
</table>